<p><strong>Title: </strong><%= question.title %></p>
<p><strong>Subtext: </strong><%= question.subtext %></p>
<p><strong>Type: </strong><%= question.question_type %></p>

<ul>
  <% question.question_options.each do |option| %>
    <li><%= option.text %></li>
  <% end %>
</ul>

